<div class="loading-animation">

    <section class="job">
        <div class="job-head">
            <p class="second-label" style="color:#FB8C00;">
                <span class="label-emoji">
                    &#x1F4BB;
                </span>
                &nbsp; JOB
            </p>
        </div>    
        
        <div class="job-info">
            <div class="job-info__title">
                마들렌
                메모리
            </div>
            <div class="job-info__exp">
                Front-end Developer
            </div>
            <div class="job-info__term">
                2019.08 ~
            </div>
            <div class="job-info__service">
                <a href="https://fitchoo.kr/" target="_blank">Fitchoo</a>
            </div>
        </div>

    </section>
    </div>    