<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      {% assign current = page.url | downcase | split: '/' %}
      <nav class="nav">
        <div class="nav-container">
            <ul>
                <li class="transition">
                    <a href="{{ '' | prepend: site.baseurl }}/" {% if current[1] == "about"  or current[1] == "flutter" or current[1] == "develop" or current[1] == "blog" %} class="normal" {% endif %}  class="active">Home</a>
                </li>
                <li class="transition">
                    <a href="{{ '/flutter' | prepend: site.baseurl }}" {% if current[1] == "flutter" %} class="active"{% endif %} >Flutter</a>
                </li>
                <li class="transition">
                    <a href="{{ '/develop' | prepend: site.baseurl }}" {% if current[1] == "develop" %} class="active"{% endif %} >Develop</a>
                </li>
                <li class="transition">
                    <a href="{{ '/blog' | prepend: site.baseurl }}" {% if current[1] == "blog" %} class="active"{% endif %} >Blog</a>
                </li>
                <li class="transition">
                    <a href="{{ '/about' | prepend: site.baseurl }}" {% if current[1] == "about" %} class="active"{% endif %} >Who am I ?</a>
                </li>
            </ul>
        </div>
      </nav>
    
    {% if page.post-header == true %}
        {% include post-header.html %}
    {% endif %}
    {% if page.project-header == true %}
        {% include project-header.html %}
    {% endif %}
      
    <main>
      {{ content }}
        
        {% if page.text == true %}
            {% include share.html %}
        {% endif %}

      </main>
      
      {% include footer.html %}
   
  </body>
</html>
